<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Proyectos</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" rel="stylesheet" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link th:href="@{assets/img/logo.png}" rel="icon">
    <link th:href="@{assets/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/style.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/datatables/datatables.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/datatables/datatables.min.css}" rel="stylesheet">
  </head>
  <body>
    <header th:insert="fragments/header.html :: navbar"></header>
    <main id="main">
      <section class="why-us" data-aos="fade-up" date-aos-delay="200">
      <div class="section-title">
            <h2>Proyectos</h2>
        </div>
      <div class="container">
      
        <div class="row">
          <div class="col-lg-6 video-box">
          <video th:src="@{assets/videos/escuela-arte.mp4}" width="420" controls></video>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
            <div class="icon-box">
              <h4 class="title">Escuela de arte</h4>
              <a href="https://github.com/mdodorico/escueladearte" target="_blank">https://github.com/mdodorico/escueladearte</a>
            </div><br>
            <div class="icon-box">
              <p>Proyecto personal desarrollado en Java, HTML, CSS, Bootstrap y MySQL con Eclipse y MySQL Workbench. Los usuarios pueden registrarse, se verifica la 
                 identidad por email y pueden recuperar la contraseña. Cuenta además con un ABM de obras de arte, un formulario para contacto y roles para 
                 usuarios registrados. Las contraseñas se guardan encriptadas en la BD.</p>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6 video-box">
          <video th:src="@{assets/videos/libreria.mp4}" width="420" controls></video>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
            <div class="icon-box">
              <h4 class="title">Librería</h4>
              <a href="https://github.com/mdodorico/libreria" target="_blank">https://github.com/mdodorico/libreria</a>
            </div><br>
            <div class="icon-box">
              <p>Proyecto final para la materia Programacion GUI II desarrollado en ASP.NET, HTML y MySQL (aplicando el patrón MVC) con Visual Studio 
                 y Microsoft SQL SMS. Contiene un ABM de productos, ABM usuarios y ABM proveedores, roles de usuario y un carro de compras totalmente funcional. Las contraseñas se guardan encriptadas en la BD.</p>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6 video-box">
          <video th:src="@{assets/videos/mi-viaje.mp4}" width="420" controls></video>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
            <div class="icon-box">
              <h4 class="title">Mi viaje</h4>
              <a href="https://github.com/mdodorico/miviaje" target="_blank">https://github.com/mdodorico/miviaje</a>
            </div><br>
            <div class="icon-box">
              <p>Proyecto final de la materia Programación Web II desarrollado en Java, HTML, CSS y Bootstrap con Spring Boot y MySQL Workbench. Contiene 
                 ABM de propiedades en alquiler, ABM de categorias (tipo de propiedad), ABM de usuarios y roles de usuario. Las contraseñas se guardan encriptadas 
                 en la BD.</p>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6 video-box">
          <video th:src="@{assets/videos/prestame-un-libro.mp4}" width="420" controls></video>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
            <div class="icon-box">
              <h4 class="title">Prestame un libro</h4>
              <a href="https://github.com/mdodorico/prestameunlibro" target="_blank">https://github.com/mdodorico/prestameunlibro</a>
            </div><br>
            <div class="icon-box">
              <p>Proyecto final para la materia Programación Web I desarrollado en JavaScript y PHP con Xampp y phpMyAdmin. Cuenta con un ABM de usuarios, 
                 ABM de autores y ABM de libros, edición del perfil personal del usuario, servicio de mensajes entre usuarios registrados y servicio de ayuda 
                 mediante el envío de mensajes al Administrador del sitio.
              </p>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6 video-box">
          <video th:src="@{assets/videos/pandemia.mp4}" width="420" controls></video>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
            <div class="icon-box">
              <h4 class="title">Pandemia</h4>
              <a href="https://github.com/mdodorico/pandemia" target="_blank">https://github.com/mdodorico/pandemia</a>
            </div><br>
            <div class="icon-box">
              <p>Proyecto final para la materia Programación II desarrollado en C++ con CodeBlocks. Es de tipo survival (el juego termina cuando el jugador se queda sin vidas), 
                 cuenta con 6 niveles con distintos mapas que van cambiando en la medida que el jugador suma puntos y los enemigos van aumentando en cantidad y velocidad de disparos. Para el desarrollo
                 visual utilicé la librería Allegro.
              </p>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    </main>
    <footer th:insert="fragments/footer.html :: footer"></footer>
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center" title="Volver arriba">
      <i class="bi bi-arrow-up-short"></i>
    </a>
    <script th:src="@{assets/vendor/purecounter/purecounter_vanilla.js}"></script>
    <script th:src="@{assets/vendor/aos/aos.js}"></script>
    <script th:src="@{assets/vendor/glightbox/js/glightbox.min.js}"></script>
    <script th:src="@{assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
    <script th:src="@{assets/vendor/swiper/swiper-bundle.min.js}"></script>
    <script th:src="@{assets/vendor/waypoints/noframework.waypoints.js}"></script>
    <script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{assets/vendor/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/js/jquery-3.6.0.js}"></script>
    <script th:src="@{assets/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{assets/js/jquery.dataTables.js}"></script>
    <script th:src="@{assets/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{assets/js/main.js}"></script>
  </body>
</html>
